/* .bar-chart {
    background-color: #C7D9D9;
} */

.chart-container {
  margin: auto;
  width: 50%;
  align-content: center;
  /* height: 40%; */
}

#title_div{
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  background-color: rgb(153, 255, 204);
}

.hidden_div{
  display: none;
}

#sensors_table{
  width: 100%;
  /* margin-top: 20px; */
}

.sensor_td{
  width: 50%;
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  /* padding: 20px; */
  /* background-color: rgb(0, 204, 255); */
}

.sensor_tr{
  /* width: 60%; */
}

#additional_info_td{
  text-align: center;
}

#download_page_div{
  text-align: center;
}
#sensor_download_table_div{
  margin: auto;
  width: 40%;
}

#modify_sensors_left_div{
  width: 45%;
  display: inline-block;
}

#modify_sensors_right_div{
  width: 45%;
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

#sensor_details_title_div{
    text-align: center;
}

#sensor_modification_div{
  margin: auto;
  width: 40%;
}

#recent_error_div{
  margin: auto;
  width: 40%;
}

#sensor_select_div{
  margin: auto;
  width: 40%;
}

#modify_sensors_btn{
  display: none;
}

#modify_rpi_btn{
  display: none;
}

#login_table{
  margin: auto;
  margin-top: 5%;
  width: 60%;
}

#main_body_div{
  display: none;
}

#title_text{
  text-decoration: none;
}

#logout_div{
  margin-left: 5px;
}
